body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  line-height: 1.5;
  max-width: 100%;
}

h1 {
  /*font-family: 'Silkscreen', cursive;*/
  font-size: 5.624rem; 
  margin-bottom: 0;
  /* 16px = 100% = 1em - 90px/ em = 90px / 16px = 5.625em  */
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px; /*siempre chequea los subtitulos para añadir padding y no se vean pegados entre si */
}

h1,
h2 {
  color: #66bfbf;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: 5px dotted #aaa;
  border-bottom-style: none;
  width: 5%;
  margin: 50px auto;
}




/* TOP CONTAINER */


.head-container {
  background-color: #e8f9fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

/*.head-container {
  background-color: #e8f9fd;
  width: 100%;
  position: relative;
  padding: 3% 15% 0;
}
*/


/*.head-container img {
  object-fit: cover;
}*/





/* Description Container 

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 7% 15%;
}*/


.description-container {
  padding: 7% 10%;  
  margin: auto;
  width: 70%;
}


/* skilss*/

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 70px;
  padding: 7% 15%;
}


.skill-row {
  width: 70%;
  margin:auto;
  text-align: left;
}

.drawing-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skating-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


/* CONTACT ME */

.contact-me {
  padding: 7% 15%;
}

.contact-message {
  width: 60%;
  margin: 0 auto 20px;
}


.btn {
  display: inline-block;
  margin: 25px auto;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  background: #66bfbf;
  padding: 10px 20px;
  text-decoration: none;
  transition: background .4s, box-shadow .4s; 
}

.btn:hover {
  background: #11999e;
  box-shadow: 4px 6px 20px 0 #66bfbf;
}








/* BOTTOM CONTAINER */
.bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 20px;
}
.footer-link {
  margin: 20px; /*los elementos en linea solo usan margen right and left*/
  font-weight: bold;
}

.footer-link:hover{
  color: #eaf6f6; 
}

.copyright {
  color: #eaf6f6;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 20px 0;
}


/* media query */

@media (max-width:800px) {

  /*.head-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  */

  .head-container img {
    position: static;
  }


}